$spacing-4xl: 5.4375rem;
$spacing-3xl: 3rem;
$spacing-2xl: 2.5rem;
$spacing-xl: 2rem;
$spacing-l: 1.5rem;
$spacing-m: 1.25rem;
$spacing-sm: 1.125rem;
$spacing-s: 1rem;
$spacing-xs: 0.875rem;
$spacing-2xs: 0.75rem;
$spacing-3xs: 0.5rem;
$spacing-4xs: 0.25rem;