@import "../../styles/theme.scss";

.hero {
    background-color: $gray-200;
    background-size: cover;
    height: 18.9375rem;
    color: color("white");
  }
  
  .hero__content.container {
    margin-left: 87px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 48%;
  }
  
  .hero__title {
    margin-bottom: $spacing-l;
  }
  
  .hero__summary {
    font-size: 20px;
  }